.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.STIL-BENGOS {
  text-align: center;
}

.removeUnderline {
 text-decoration:none;
 color: inherit;
}

.marginTopNegative {
  margin-top: 100px !important;
}

.grow: {
  flexGrow: 1;
},

.Blend {
  font-size: 10% !important;
},

.centerClass {
  position: 'absolute';
  left: '50%';
  top: '50%';
  transform: 'translate(-50%, -50%)';
},

.menuButton: {
  marginRight: 8;
},

.title: {
  display: 'none';
},

.sectionMobile: {
  display: 'flex',
},

.sectionDesktop: {
  display: 'none',
},

.inputInput: {
  /* 
  padding: theme.spacing(1, 1, 1, 0),
  paddingLeft: `calc(1em + ${theme.spacing(4)}px)`,
  transition: theme.transitions.create('width'),
  */
  width: '100%',
},

.inputRoot: {
  color: 'inherit',
},

.search: {
  width: '100%',
},

.searchIcon: {
  height: '100%',
},

.right {
  margin-left: auto;
  right: 0px;
},

.sidebarButtonStyle {
  background-color: #4CAF50;
  color: white;
}